project_id=""
credentials_path="../../credentials.json"
region="us-east4"
network="vpc-01"
subnetwork="us-east4-01"
ip_range_pods="us-east4-01-gke-01-pod"
ip_range_services="us-east4-01-gke-01-service"
